:host {
    margin: auto;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    padding-top: 40px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
}

form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.mat-form-field {
    box-sizing: border-box;
    font-size: 1.3em;
    width: calc(100% - 40px);
}

.login-btn {
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.4em;
    border-radius: 5px;
    width: calc(100% - 40px);
    transition: 0.2s;
}

.login-btn:hover {
    background-color: hsl(231, 48%, 35%)
}