<div class="left-container">
    <div class="search">
        <div>
            <mat-card-title>Search</mat-card-title>

            <form [formGroup]="form" (submit)="onSearchSubmit()">
                <mat-form-field class="name">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="cpf">
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf">
                </mat-form-field>
                <mat-form-field class="rg">
                    <mat-label>RG</mat-label>
                    <input matInput formControlName="rg">
                </mat-form-field>
                <button color="primary" class="search-btn" mat-raised-button>Search</button>
            </form>
        </div>
    </div>


    <div class="client-list">
        <div>
            <div class="client-list-header">
                <mat-card-title>Clients</mat-card-title>
                <div class="client-list-buttons">
                    <button class="client-list-buttons-new" (click)="onClickNewClientButton()"
                        mat-raised-button>New</button>
                    <button class="client-list-buttons-add" (click)="currentAction = 'add'"
                        mat-raised-button>Add</button>
                    <button class="client-list-buttons-update" [disabled]="!selectedClient"
                        (click)="onClickUpdateClientButton()" mat-raised-button>Update</button>
                    <button class="client-list-buttons-remove" [disabled]="!selectedClient" (click)="removeClient()"
                        mat-raised-button color="warn">Remove</button>
                </div>
            </div>
            <div *ngIf="isUserWithClients()">
                <mat-table [dataSource]="clientList">
                    <ng-container matColumnDef="name">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let client">{{client.fullName}} </mat-cell>
                    </ng-container>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row, $event)"
                        [class.row-is-clicked]="selectedClient == row">
                    </mat-row>
                </mat-table>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>

<div class="right-container">
    <ng-container *ngIf="selectedClient && currentAction === 'details'" class="client-details">
        <mat-card-title>{{selectedClient.fullName}}</mat-card-title>
        <mat-card-content>
            <p>Username: {{selectedClient.username}}</p>
            <p>First name: {{selectedClient.firstName}}</p>
            <p>Last name: {{selectedClient.lastName}}</p>
            <p>CPF: {{selectedClient.cpf }}</p>
            <p>RG: {{selectedClient.rg}}</p>
        </mat-card-content>
    </ng-container>

    <ng-container *ngIf="currentAction === 'new'">
        <div class="new-client-header">
            <mat-card-title>New client</mat-card-title>
            <mat-card-subtitle>Register your new client</mat-card-subtitle>
        </div>
        <client-edit (newClientEvent)="newClient($event)"></client-edit>
    </ng-container>

    <ng-container *ngIf="selectedClient && currentAction === 'update'">
        <div class="update-clients-header">
            <mat-card-title>Update client</mat-card-title>
            <mat-card-subtitle>Enter new client data</mat-card-subtitle>
        </div>
        <client-edit [client]="selectedClient" [update]="true" (newClientEvent)="updateClient($event)"></client-edit>
    </ng-container>

    <ng-container *ngIf="currentAction === 'add'">
        <div class="all-clients">
            <div class="all-clients-header">
                <mat-card-title>Add existing client</mat-card-title>
                <mat-card-subtitle>Select a client from all clients list</mat-card-subtitle>
            </div>

            <button class="add-client-btn" color="primary" [disabled]="!clientToAdd" (click)="onClickAddClientButton()"
                mat-raised-button>Add</button>
            <div class="table-container">
                <mat-table [dataSource]="allClients">
                    <ng-container matColumnDef="name">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let client">{{client.fullName}} </mat-cell>
                    </ng-container>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clientToAdd = row"
                        [class.row-is-clicked]="clientToAdd === row">
                    </mat-row>
                </mat-table>
            </div>
        </div>
    </ng-container>
</div>