:host {
    margin: auto;
    display: flex;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;
}

small {
    align-self: flex-start;
    padding: 10px;
}

.form-container {
    display: flex;
    width: 400px;
    height: 41vh;
    padding-top: 36px;
    border-radius: 5px;
    background-color: white;
}

form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.mat-error {
    justify-self: left;
    align-self: flex-start;
}

.mat-form-field {
    box-sizing: border-box;
    font-size: 1.3em;
    width: calc(100% - 40px);
}

.login-btn {
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.4em;
    border-radius: 5px;
    width: calc(100% - 40px);
    color: white;
    background-color: #4a934a;
    transition: 0.2s;
}

.login-btn:hover {
    background-color: #2e702e;
}