<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" #localForm="ngForm"> 
        <mat-form-field appearance="outline">
            <input appearance="outline" matInput class="username-input" formControlName="userName" type="text" placeholder="E-mail or username" required>
            <mat-error *ngIf="localForm.submitted || userName?.invalid && (userName?.touched || userName?.dirty)">
                <div *ngIf="userName?.errors?.['required']">Username required</div>
                <div *ngIf="userName?.errors?.['usernameUnavailable']">Username unavailable</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput class="password-input" formControlName="password" type="password" placeholder="Password"required >
            <mat-error *ngIf="localForm.submitted || password?.invalid && (password?.touched || password?.dirty)">
                <div *ngIf="password?.errors?.['required']">Password required</div>
                <div *ngIf="password?.errors?.['minlength']">Password minimum length is 4 </div>
            </mat-error>
        </mat-form-field>

        <button  class="login-btn" mat-raised-button>Register now</button>
    </form>
</div>
