<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <a class="logo" routerLink="/">LOGO</a>
        <span class="spacer"></span>
        <nav>
            <ul>
                <li *ngIf="!isLogged"><a class="login" mat-button routerLink="/login">Login</a></li>
                <li  *ngIf="!isLogged"><a class="registration" mat-button routerLink="/register">Register now</a></li>
                <li *ngIf="isClient"><a  class="client" mat-button routerLink="/client-area">Client area</a></li>
                <li *ngIf="isUserWithClients"><a mat-button routerLink="/user-clients">My clients</a> </li>
                <li><a *ngIf="isLogged" (click)="onLogout()" class="logout" mat-button>
                        <mat-icon>logout</mat-icon>
                    </a>
                </li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>