mat-toolbar {
    padding: 0 min(40px, 3%);
    box-shadow: 0 2px 5px #c3c3c3;
}

mat-toolbar-row {
    height: 70px;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: flex;
    align-items: center;
}

nav .mat-button-base {
    font-size: 18px;
    line-height: calc(1.4em + 20px);
    font-weight: 400;
}

.login {
    border: 2px solid #c3c3c3;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}



.profile .mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 100%;
    padding: 0px 16px;
    font-size: 2rem;
    letter-spacing: 4px;
    text-decoration: none;
    color: #fff;
}

.spacer {
    flex: 1 1 auto;
}