<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <a class="logo" routerLink="/">LOGO</a>
        <span class="spacer"></span>
        <nav>
            <ul>
                <li><a class="login" mat-button routerLink="/login">Login</a></li>
                <li><a class="registration" mat-button routerLink="/register">Register now</a></li>
                <li><a class="client" mat-button routerLink="/client-area">Client area</a></li>
                <li><a class="profile" mat-button routerLink="">
                    <mat-icon>account_circle</mat-icon>
                </a></li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>