<div class="container">
    <form [formGroup]="form" (submit)="handleSubmit()">
        <mat-form-field appearance="outline" class="firstName">
            <mat-label>First name</mat-label>
            <input matInput type="text" placeholder="John" formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="lastName">
            <mat-label>Last name</mat-label>
            <input matInput type="text" placeholder="Doe" formControlName="lastName" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="rg">
            <mat-label>RG</mat-label>
            <input matInput type="text" placeholder="RG" formControlName="rg" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpf">
            <mat-label>CPF</mat-label>
            <input type="text" matInput [maxlength]="14" placeholder="999.999.999-99" formControlName="cpf"
                (paste)="handlePasteOnlyDigits($event)" required>
        </mat-form-field>

        <button class="submit-btn" type="submit" color="primary" mat-raised-button>Update</button>
    </form>
</div>