/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(240, 242, 245);
    background-color: hsl(216, 20%, 75%);    
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button
{
    background-color: #eee;
}

.success-snackbar {
    background-color: #4a934a;
    color: white;
    text-align: center;
}

.error-snackbar {
    background-color: #b00020;
    color: white;
    text-align: center;
}