<!-- <div *ngIf="user" class="user-container container">
    <user-details class="user-card" [user]="user"></user-details>
    <div class="client-list">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Clients
                </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="isUserWithClients()">
                <mat-table [dataSource]="asWithClients.clients" recicleRows>
                    <ng-container matColumnDef="name">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let client">{{client.fullName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cpf">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let client">{{client.cpf}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rg">
                        <mat-header-cell *matHeaderCellDef>RG</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let client">{{client.rg}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; 
                    columns: displayedColumns;" (click)="onClickRow(row)"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="client-container container" *ngIf="client">
    <span>Client</span>
    <user-details [user]="client"></user-details>
</div> -->